nav {
    box-shadow: -2px 3px 4px 0px #8e737326;
    padding-bottom: 2px;
    position: relative;

    #nav {
        display: flex;
        margin-left: 130px;
        margin-right: 100px;

        #navi {
            display: inline-block;
            flex: 1;
            padding-top: 15px;
        }

        .nav-logo {
            padding-top: 0 !important;
        }

        nav > ul > li > a {
            text-decoration-line: none;
            color: rgb(181, 174, 174);
            font-family: $fontfamily;
        }

        nav > ul > li > a:hover {
            color: black;
        }

        .logonav {
            background-color: rgb(31, 29, 29);
            width: 6%;
            position: absolute;
        }
    }
}
