col-1 {
    position: relative;
  }
  
  #iconcompet {
    position: absolute;
    top: 30Px;
    font-size: 100px;
    background-color: rgb(38, 34, 34);
    width: 100%;
    height: 70%;
  }
  
  #titrecompétence {
    float: left;
  }
  
  #paracompétence {
    float: left;
    text-align: justify;
  }