.section4 {
    background-color: #f5f5f5;
    padding-bottom: 80px;
  }
  
  .ulservice {
    text-align: center;
    display: flex;
    padding-top: 50px;
  }
  
  .liservice {
    display: inline-block;
    flex: 1;
  }
  
  #iconservice {
    font-size: 200%;
  }