* {
  margin: 0%;
}

body {
  overflow-x: hidden;
}

#début {
  background-image: url(http://clapat.ro/themes/newave-wordpress/wp-content/themes/newave-theme/images/home_pattern.png);
  padding-top: 60px;
  width: 100%;
  height: 650px;
  margin: auto;
}

#insidedebut {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#logopure {
  padding-bottom: 150px;
  justify-content: center;
  padding: 0%;
}

.studio {
  display: inline;
  padding: 0%;
}

.studio-1 {
  color: white;
  list-style: none;
  text-justify: auto;
  font-size: 400%;
  font-family: 'Ubuntu', sans-serif;
}

.agence {
  color: grey;
  margin-top: 0px;
}

.A {
  margin: auto !important;
  margin-top: 30px;
  text-decoration-line: none;
  color: white;
  border: white solid;
  border-radius: 5px;
  padding: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.A:hover {
  color: black;
  background-color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

nav {
  box-shadow: -2px 3px 4px 0px #8e737326;
  padding-bottom: 2px;
  position: relative;
}

#nav {
  display: flex;
  margin-left: 130px;
  margin-right: 100px;
}

#navi {
  display: inline-block;
  flex: 1;
  padding-top: 15px;
}

.nav-logo {
  padding-top: 0 !important;
}

nav>ul>li>a {
  text-decoration-line: none;
  color: rgb(181, 174, 174);
  font-family: 'Ubuntu', sans-serif;
}

nav>ul>li>a:hover {
  color: black;
}

.logonav {
  background-color: rgb(31, 29, 29);
  width: 6%;
  position: absolute;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

#section1 {
  background-color: #f5f5f5;
}

.container {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
}

#row1 {
  padding-top: 100px;
}

#titrepure {
  margin: auto;
}

#titreagencepure {
  letter-spacing: 3px;
  margin-bottom: 15px;
}

#span1 {
  background: none repeat scroll 0 0 #999999;
  display: block;
  height: 2px;
  margin: 0 auto;
  width: 130px;
  margin-bottom: 40px;
}

p {
  color: #999999;
  font-size: 90%;
}

#screens {
  position: relative;
}

.small-screen-left {
  height: auto;
  position: absolute;
  z-index: 0;
  top: 100px;
  left: 0;
}

#img1 {
  padding-right: 0px;
  position: relative;
  width: 300px;
}

.small-screen-right {
  height: auto;
  position: absolute;
  z-index: 0;
  top: 100px;
  right: 0;
}

#img2 {
  padding-right: 0px;
  position: relative;
  width: 300px;
}

.big-screen {
  height: auto;
  margin: 0 auto;
  z-index: 100;
}

#img3 {
  position: relative;
  padding-left: 0px;
  width: 600px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */

#titre2 {
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.photoéquipe {
  width: 100%;
}

/* ---------------------------------------------------------- */

#bgpetit {
  background-image: url(../img/photo-pure-2018.jpg);
  background-size: 100%;
  transform: scale(1);
  position: relative;
}

.filtre {
  background-color: #000000c1;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#containerbgpetit {
  padding: 40px 20px;
}

#h1bg {
  padding-top: 100px;
  font-size: 180%;
  letter-spacing: 3px;
  font-family: 'Ubuntu', sans-serif;
  text-justify: auto;
  color: white;
  position: relative;
  z-index: 1;
}

#parabg {
  color: #a79b9b;
  position: relative;
  z-index: 1;
  padding-top: 30px;
}

/* ---------------------------------------------------------- */

col-1 {
  position: relative;
}

#iconcompet {
  position: absolute;
  top: 30Px;
  font-size: 100px;
  background-color: rgb(38, 34, 34);
  width: 100%;
  height: 70%;
}

#titrecompétence {
  float: left;
}

#paracompétence {
  float: left;
  text-align: justify;
}

/* ---------------------------------------------------------- */

.section4 {
  background-color: #f5f5f5;
  padding-bottom: 80px;
}

.ulservice {
  text-align: center;
  display: flex;
  padding-top: 50px;
}

.liservice {
  display: inline-block;
  flex: 1;
}

#iconservice {
  font-size: 200%;
}